<h1>Add New Product</h1>

<%= form_tag("/products/#{@product.id}", method: :put) do %>
<!--   <label for="content">Chirp Away:</label>
  <textarea name="content" id="content"></textarea>
  <input type="submit" value="Create Chirp" > -->

  <%= label_tag('name', 'Edit Product:') %>
  <br>
  <%= text_field_tag('name', @product.name) %>
  <br>
  <%= label_tag(:category_id, "Select a Product Caegory:") %>
  <br>
  <%= select_tag(:category_id, options_from_collection_for_select(@categories, :id, :name, @product.category_id), prompt: "Select Product Category")%>
  <br>
  <%= label_tag('description', 'Edit Description') %>
  <br>
  <%= text_area_tag('description', @product.description, size: "20x10") %>
  <br>
  <%= label_tag(:image_tag, "Enter a URL to your product's image:") %>
  <br>
  <%= text_field_tag(:image_tag, @product.image_tag) %>
  <br>
  <%= label_tag('price', 'Edit Price') %>
  <br>
  <%= number_field_tag('price', @product.price) %>
  <br>
  <%= submit_tag("Edit Product") %>
  <br>

<% end %>