<h1>Add New Product</h1>

<%= form_tag("/products", method: :post) do %>
<!--   <label for="content">Chirp Away:</label>
  <textarea name="content" id="content"></textarea>
  <input type="submit" value="Create Chirp" > -->

  <%= label_tag('name', 'Enter Product:') %>
  <br>
  <%= text_field_tag('name') %>
  <br>
  <br>
  <%= label_tag('description', 'Enter Description') %>
  <br>
  <%= text_area_tag('description', nil, size: "20x10") %>
  <br>
  <br>
  <%= label_tag('price', 'Enter Price') %>
  <br>
  <%= number_field_tag('price') %>
  <br>
  <%= submit_tag("Add Product") %>
  <br>

<% end %>